/* lib */
.d-flex {
  display: flex;
  justify-content: space-around;
}
.ptb-200 {
  padding: 200px 0;
}
.icon-sns {
  font-size: 30px;
}
.height-max {
  height: 85vh;
}
/* index */
.logo_text {
  font-size: 15px;
}
.icon-twitter {
  width: 30px;
}
.icon-instagram {
  width: 30px;
}
.icon-facebook {
  width: 30px;
}

.post-content-subtitle {
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
}

.editor_text {
  width: 80%;
  margin: 10px auto 0;
  font-size: 12px;
}

@media (min-width: 770px) {
  .recommend-img img {
    max-height: 120px;
  }
}

@media (max-width: 769px) {
  .sp_mt-50 {
    margin-top: 50px;
  }
  .sidebar-wrap {
    margin-top: 30px;
  }
  .blog_recommend_wrap img{
    height: 200px !important;
  }
}

@media (max-width: 415px) {
  .sp_mt-50 {
    margin-top: 50px;
  }
  .sidebar-wrap {
    margin-top: 100px;
  }
}

@media (min-width: 415px) {
  .sp_only {
    display: none;
  }
  .logo_text {
    margin-left: 10px;
  }
}

/* single */
.single-post img {
  height: auto !important;
}
.single-post-title {
  text-transform: none !important;
}

/* archive */
.pagination {
  display: block;
}
.page-numbers {
  display: flex;
  width: 40%;
  margin: 0 auto;
  justify-content: space-evenly;
}